<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            WHEN ARE YOU OPEN?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show"  data-parent="#accordionExample">
        <div class="card-body">
           Glad you asked. We’re a 7-day a week operation, taking only Thanksgiving and Christmas off to make coffee at home. Our hours are Monday – Sunday, 6:00 a.m. to 5:00 p.m,  Call us even on the worst Maine weather days, as we rarely close due to storms.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            WHERE DO YOU BUY YOUR COFFEE?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
            We are very proud to buy our beans from Maine’s very own Coffee By Design. Coffee By Design is a certified organic manufacturer that directly sources only sustainably farmed green coffee beans. I have enjoyed the privilege of visiting one of the farms that CBD buys from, La Manita Farm, Costa Rica, and witnessed first-hand that CBD only buys coffee from growers that provide 100% traceability.  I can assure all of our customers that our coffee is grown only where the environment and all those involved in growing and providing our beans are treated with total respect for fairness and sustainability.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            WHO MAKES YOUR FOOD?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordionExample">
        <div class="card-body">
            We do!  With the exception of our gluten-free offerings, we make, bake, and serve our entire menu.  We also buy local whenever we can, such as fresh meat raised and butchered at LP Bisson & Sons Farm and Meat Market, bread from Borealis Bread, and gluten-free bagels, muffins, and sweet treats from Wildflours and Bam Bam gluten free bakeries.
        </div>
      </div>
    </div>
  </div>