

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h6>Phone No. => +22 85671656</h6>
    </div>
    <div class="col-md-4">
      <h6>E-mail => abc@coffee.com</h6>
    </div>
    <div class="col-md-4">
      <h6>Address => xyz, lane 2, tvhsdyg fvdvdjhc kedyh, ghcbdgl, 482459</h6>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      <h6><i class='fas fa-map-marker-alt' style='font-size:24px;color:white'></i></h6>
    </div>
    
    <div class="col-md-3">
      <h6><i class='fab fa-instagram' style='font-size:24px;color:white'></i></h6>
      
    </div>
    
    <div class="col-md-3">
      <h6><i class='fab fa-facebook-square' style='font-size:24px;color:white'></i></h6>
      
    </div>
    
    <div class="col-md-3">
      <h6><i class='fab fa-facebook-messenger' style='font-size:24px;color:white'></i></h6>
    </div>
  </div>
</div>