<div class="container">
  <div class="card-group">
    <div class="card">
      <img src="assets/images/irish coffee.jpg" class="card-img-top" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Irish Coffee <br><strong>Rs. 150/-</strong></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Capachino <br><strong>Rs. 450/-</strong></h5>
      </div>
      <img src="assets/images/capachino.jpg" class="card-img-top" height="300px" alt="...">
      
    </div>
    <div class="card">
      <img src="assets/images/dolgano coffee.jpg" class="card-img-top" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">DolganoCoffee <br><strong>Rs. 250/-</strong></h5>
      </div>
    </div>
  </div>
<br>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ca Phe Sua <br><strong>Rs. 150/-</strong></h5>
      </div>
      <img src="assets/images/Ca_Phe_Sua.jpg" class="card-img-top" height="300px" alt="...">
      
    </div>
    <div class="card">
      
      <img src="assets/images/cafe_au_lait.jpg" class="card-img-top" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cafe Au Lait <br><strong>Rs. 450/-</strong></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Caffe Ameriano <br><strong>Rs. 250/-</strong></h5>
      </div>
      <img src="assets/images/caffe_Ameriano.jpg" class="card-img-top" height="300px" alt="...">
      
    </div>
  </div>
  
<br><br>
</div>